*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container-bg{
    height: 100vh;
    width: 100%;
    
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}